@import url(index/default.css);
@import url(tabela/default.css);

:root {
  --branco: #fafafa;
  --preto: #262626;
  --azul: rgba(49, 196, 190, 0.75);
  --box-shadow: 0px 0px 30px;
  --brancoEscuro: rgba(114, 114, 114, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  color: var(--branco);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      /*aqui*/ 0deg,
      transparent 24%,
      var(--brancoEscuro) 25%,
      var(--brancoEscuro) 26%,
      transparent 27%,
      transparent 74%,
      var(--brancoEscuro) 75%,
      var(--brancoEscuro) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--brancoEscuro) 25%,
      var(--brancoEscuro) 26%,
      transparent 27%,
      transparent 74%,
      var(--brancoEscuro) 75%,
      var(--brancoEscuro) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}
